<div class='container home'>
    <div class="row home-bar">
        <div class="col-md-4 col-md-offset-1">
            <p class="home-welcome">Welcome to <strong>NYC Life</strong></p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default home-btn" href="#/home/{{username}}" role="button">Home</a>
            <a class="btn btn-default home-btn" href="#/footprint/{{username}}" role="button">Footprint</a>
            <a class="btn btn-default home-btn" href="#" role="button">Chat</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row home-profile img-rounded">
                <div class="col-md-6">
                    <img class='img-face' src="https://deaenij3kiw8r.cloudfront.net/system/users/avatars/141380/original/production-b3612f96cc66fee631be82853dd2c316-man_bartlett_bw.jpg?1369799811" alt="user_pic">
                </div>
                <div class="col-md-6">
                    <p class="home-profile-special">{{profile.UserId}}</p>
                    <p>I'm <span class="home-profile-special">{{profile.Age}}</span></p>
                    <p>I'm living in <span class="home-profile-special">{{profile.Zipcode}} </span></p>
                    <p>Contact me with</p>
                    <p><span class="home-profile-special">{{profile.Email}}</span></p>
                    <p>I began to use it in <span class="home-profile-special">{{profile.Starttime}}</span></p>
                </div>
            </div>
            <div class="row home-friendlist img-rounded">
                <p class="home-h2">My Friends </p>
                <div class="row search-bar">
                    <p><strong>Search</strong><input ng-model="searchFriend"></p>
                </div>
                <li ng-repeat='friend in friends | filter: searchFriend' class='list-group-item'>
                    <!--friend.img-->
                    <a href="#/profile/{{username}}/{{friend}}"><strong>{{friend}}</strong></a>
                </li>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row footprint-map img-rounded">
                <ng-map zoom="11" center="[40.74, -74.18]">
                <marker position="[40.74, -74.18]" title="how" animation="Animation.BOUNCE"></marker>
                <marker position="[40.75, -74.17]" title="are" animation="Animation.BOUNCE"></marker>
                <marker position="[40.77, -74.15]" title="from" animation="Animation.BOUNCE"></marker>
                <marker position="[40.78, -74.14]" title="allen" animation="Animation.BOUNCE"></marker>
              </ng-map>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row footprint-location img-rounded">
                <p class="home-h2">Places I checked in</p>
                <li ng-repeat='' class='list-group-item'>
                </li>
            </div>
        </div>

    </div>
</div>